<div class="container nav-padding">
  <ul>
    <% @profiles.each do |profile| %>
        <li>
        <%= link_to profile.first_name, public_profile_path(profile.store_url) %>
        </li>
    <% end %>

    </ul>
</div>
