$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// hive colors to use accross entire website
// (please don't change without group discussion)

$bright-purple: rgba(101,48,128,1);
$rollover-purple: rgba(130,62,163,1);

$dark-purple: #1e1b2e;
$purple: #553965;
$orange: #fec318;
$white: #ffffff;
$light-blue: #f4fdff;
$dark-gray: rgb(105,105,105);
