
@import 'lookup';

.background-colors {
    background: linear-gradient(321deg, #fcb42d 24%, #fcd04d 100%);
    padding-top: 45px;
    padding-bottom: 45px;

}
.container-background {
    margin-top: 60px;
    background-color: white;
    padding: 45px;
    border-radius: 10px;
}

.title-in-middle {
    width: 100%;
    text-align: center;
}

.buy-button-in-middle {
    width: 100%;
    text-align: center;
}

.btn-width-radius{
    width: 50%;
    border-radius: 10px;
    background-color: $rollover-purple;
    color: white;
}

.font-family {
    font-family: $body-font;
    font-size: 18px;
    
}

.text-aligned-with-photo {
    display: flex;
    margin: 35px; 
    

}
.text-aligned-with-photo p {
    margin-left: 50px;
    
}

.margin-product-information {
    margin: 35px;
    width: 35%;
    text-align: center;
    margin-bottom: 100px;
    bottom: 100px
    
   
}
.center{
    margin-left: 50%;
}
.rounded-btn{
    border-radius: 50px;
}

