
@import 'lookup';

.background-colors {
    background: linear-gradient(321deg, #fcb42d 24%, #fcd04d 100%);
    padding-top: 45px;
    font-family: $fun-body;
}
.container-background {
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: white;
    padding: 25px 45px 45px 45px;
    border-radius: 10px;
}

.images-public-profile {
    height: 400px;
    width: 400;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.strong-purple strong {
  color: #6D3889;
}


.creators-tip {
    display: inline;
    background: linear-gradient(145deg, #823ea3 0%, #653080 100%);
    padding-left: 5px;
    padding-right: 5px;
    margin-right: -8px;
    margin-left: 20px;
    z-index: -1;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 35px;
    line-height: 55px;
    font-weight: 900;
    text-align: center;
    z-index: 10;
}
a:hover {
  text-decoration: none;
}
.creators-tip + p {
  display: inline;
  font-size: 27px;
  color: #6D3889;
  font-family: "Montserrat", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

.testlink {
  margin-top: 10px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}

.testlink:hover {
  color: white;
  text-decoration: none;
}

.buy-btn {
    height: 42px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.05);
    color: white;
    font-size: 19px;
    font-family: $fun-body;
    font-weight: 700;
    background: #653080;
}

.buy-btn:hover {
    background: linear-gradient(145deg, rgba(130,62,163,1) 0%, $bright-purple 100%);
}

.reviews-container-scss {
    width: 445px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    h2 {
      color: #6D3889;
    }
}

.text-aligned-with-photo {
    display: flex;
    padding-right: 30px;
}

.info-aligned-btn {
    display: flex;
    justify-content: space-between;
}

.btn-bottom-div {
    display: flex;
    align-items: flex-end;
}

.padding-margin-info-only {
    margin-left: 50px;
    margin-top: 25px;
}

.width-review-input-show {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.width-input-show {
    width: 75%;
    border: solid;
    border-width: 0.5px;
    border-color: #653080;
    border-radius: 10px;
    padding: 15px;
}

.add-review-btn {
    border-radius: 10px;
    box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.05);
    color: white;
    font-size: 19px;
    font-family: $fun-body;
    font-weight: 700;
    background: #653080;
    width: 415px;
}

.fast-review-styling {
    width: 675px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: white;
}

.avatar-show-page {
    border-radius: 50%;
    margin-left: 15px;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.avatar-creator-show-page {
    border-radius: 50%;
    box-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.text-width-review {
    width: 100%;
    word-wrap: break-word;
    strong {
      color: #6D3889;
    }
}

.review-username {
  color: #653080;
  font-size: 17px;
  font-weight: 500;
  text-align: right;
  padding-left: 10px;
}

.review-date {
  color: #653080;
  font-size: 14px;
  text-align: right;
  margin-bottom: 0;
}

.rating {
  padding-right: 20px;
  font-size: 20px;
}

.h2-revies-show {
    margin-left: 130px;
    color: #653080;
}

.buy-btn-center {
    width: 400px;
}

.review-in-the-middle {
    display: flex;
    justify-content: space-between;
    padding: 0px;
    height: 310px;
    font-family: $fun-body;
}

.every-review-under-eachother {
    display: grid;
    grid-template-columns: 1fr;
    height: 310px;
    margin-bottom: 275px;
    border-radius: 10px;
    width: 675px;
}
