
@import 'lookup';

.background-colors {
    background: linear-gradient(321deg, #fcb42d 24%, #fcd04d 100%);
    padding-top: 45px;
    padding-bottom: 45px;
}
.container-background {
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: white;
    padding: 25px 45px 45px 45px;
    border-radius: 10px;
}

.images-public-profile {
  height: 400px;
  width: 200%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.buy-btn {
  height: 55px;
  width: 250px;
  border-radius: 10px;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 19px;
  font-family: $fun-body;
  font-weight: 700;
  background: linear-gradient(145deg, rgba(130,62,163,1) 0%, $bright-purple 100%);
}

.reviews-container-scss {
    width: 70%;
    padding: 45px;
    padding-bottom: 0px;
    margin: auto;
}

.text-aligned-with-photo {
    display: flex;
    padding-right: 30px;
}

.info-aligned-btn {
    display: flex;
    justify-content: space-between;
}

.btn-bottom-div {
    display: flex;
    align-items: flex-end;
}

.padding-margin-info-only {
    margin-left: 50px;
    margin-top: 25px;
}

.width-review-input-show {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.width-input-show {
    width: 75%;
    border: solid;
    border-width: 0.5px;
    border-color: #653080;
    border-radius: 10px;
    padding: 15px;
}

.add-review-btn {
    box-shadow: 0px 9px 22px -9px rgba(0,0,0,0.1);
    background: #653080;
    color: white;
    border-radius: 10px;
    margin-top: 15px;
}

.fast-review-styling {
    width: 75%;
    border: solid;
    border-width: 0.5px;
    border-color: #653080;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-left: 130px;
}

.avatar-show-page {
    border-radius: 50%;
}

.text-width-review {
    width: 600px;
}

.h2-revies-show {
    margin-left: 130px;
    color: #653080;
}

