.background-log-in-form {
    background-color: #F4FDFF;
    height: 100vh;
    padding-top: 100px;
}

.log-in-card {
    background-color: white;
    width: 600px;
    padding: 35px 25px;
    box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.05);
    border-radius: 4.5px;
    font-family: 'Chivo', sans-serif;
}

.h2-log-in {
    font-family: 'Overpass', sans-serif;
}

.log-in-btn {
    width: 100px;
    background-color: #d8faff;
    box-shadow: 0px 9px 22px -9px rgba(0,0,0,0.1);
    margin-bottom: 15px;
}

.log-in-btn:hover {
    background-color: #cff6fc;
    box-shadow: none;
}

.render-btn-log-in-form {
    color: black;
}

.render-btn-log-in-form:hover {
    color: #49c5ff;
    text-decoration-line: underline;
}