<header>
  <div class="header-inner">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "brand" %>
    <% end %>

    <!-- a href="#" class="brand">
    </a> -->

    <div class="navigation">
      <%= link_to "Profile", private_profile_path, class: "nav-scroll"  %>
      <a class="nav-scroll" href="#home">
        HOME
      </a>
      <a class="nav-scroll" href="#about">
        ABOUT
      </a>
      <a class="nav-scroll" href="#skills">
        SKILLS
      </a>
      <a class="nav-scroll" href="#blog">
        BLOG
      </a>
      <a class="nav-scroll" href="#contact">
        CONTACT
      </a>
    </div>
  </div>
</header>
