<div class="banner-container nav-padding">

  <div class="container banner-center">

    <div class="banner-box">

        <div class="banner-half banner-center margin-r15">

          <h1 class="banner-headline"><span id="hiive">hiive</span> turns referral links into online stores.
          <br>instantly.</h1>

        </div>

        <div class="banner-half pin">

          <div>

          <form action="/profile" id="submit-form" method="post" >
          <textarea name="link" id="homepage-text-area" type="text" class="link-input" placeholder=" paste a link or twenty"></textarea>
          <button type="submit" id="submit" class="link-input-btn">create store</button>

          <!-- <div id="bee-logo-img"></div> -->

          <div class="animated-bee-container">
          <div class="wrapper">
            <div class="bee">
              <div class="bee-body">
                <div class="blink"></div>
                <div class="mouth"></div>
                <div class="antenae"></div>
                <div class="bee-left"></div>
                <div class="bee-right"></div>
              </div>
            </div>
            <!-- <div class="shadow"></div> -->
          </div>
          </div>

          </form>

          </div>

        </div>

    </div>

  </div>

</div>
