<div class="container">

<h1>Enter your referal links.</h1>
<h4>And watch the magic happen.</h4>

<form action="/profile" id="submit-form" method="get">
  <input name="link" type="text" id="input" placeholder="">
  <input type="submit" id="submit">
</form>

</div>
