<div class="banner-container">

  <div class="container banner-center">

    <div class="banner-box">

        <div class="banner-half">

          <h1 class="banner-headline">Turn your ugly referral links into a beautiful online store. Instantly.</h1>

        </div>

        <div class="banner-half">

          <form action="/profile" id="submit-form" method="get" >
          <input name="link" type="text" class="link-input" placeholder=""><br>
          <input type="submit" id="submit" class="link-input-btn">
          </form>

        </div>

    </div>

  </div>

</div>
