.profile-about-user-text {
  padding-left: 10px;
}

.profile-about-avatar {
  object-fit: cover;
  border-radius: 50%;
  margin-top: 15px;
}

.user-description {
   padding: 0 4px;
}

.profile-social-media-links {

}
