.display-grid-all-products {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    justify-content: space-between;
}
.card-product-public-profile {
    width: 230px;
    border-radius: 3.5px;
    background-color: white;
    font-family: 'Chivo', sans-serif;
    box-shadow: 0px 25px 40px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    padding: 10px;
    padding-bottom: 95px;
    text-align: center;
}

.images-public-profile {
    object-fit: cover;
}

.btn-product-public-profile {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 106px;
    border-radius: 3.5px;
    background-color: $green;
    color: white;
}
.product-title-public-profile {
    font-family: 'Overpass', sans-serif;
    margin: 5px;
}
.margin-price-public-profile {
    margin: 5px 5px 5px 5px;
    position: absolute;
    bottom: 45px;
    left: 0px;
    border: solid;
    border-width: 0.5px;
    padding: 5px;
    border-radius: 3.5px;
    border-color: $purple;
    color: $purple;
}

.details-btn-product-public-profile {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 106px;
    border-radius: 3.5px;
    background-color: $blue;
    color: white;
}