.public-profile-background {
    background-color: #F4FDFF;
    height: 100%;
    padding: 100px;
}

.edit-public-profile-card {
    // box-shadow: 0px 0px 22px 2px rgba(0,0,0,0.1);
    border-radius: 4.5px;
    padding: 30px 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-in-middle {
    width: 100%;
}

.white-background-profile-info {
    background-color: white;
    padding: 25px;
    box-shadow: 0px 25px 40px 5px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
}

.public-profile-text-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-information {
    width: 620px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.information-text-public-profile {
    margin-top: 20px;
    font-family: 'Chivo', sans-serif;
    font-size: 20px;
}

.profile-picture-public-profile {
    border-radius: 7px;
}

.h2-public-profile {
    font-family: 'Overpass', sans-serif;
}