.profilepage{
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}
.ptop{
    padding-top: 10px;
}

.btn-50-50{
    width: 50%
}
.btn-diffc{
 background-color: #FFC65A;
 
}

.side-by-side{
  display: inline-block
}
