.flexed{
    display: flex
}

.maxw{
    max-width: 100%;
}

.category-cards-middle {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
    padding: 15px;
    margin-top: 30px;
}

.display-of-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.card-category-discover-page {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-category-discover-page:hover {
    transition: 0.2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
.title-aligned {
    // margin-left: 10px;
    background: linear-gradient(145deg, #823ea3 0%, #653080 100%);
    font-family: "Montserrat", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 45px;
    line-height: 55px;
    font-weight: 900;
    padding: 2px 7px;
}

.single-creator {
    border: solid;
    border-radius: 10px;
    border-width: 0.3px;
    margin: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    // background-color: white;
    box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.1);

}

.text-5-products-top {
    display: flex;
    align-items: flex-start;
}

.wrappeer{
    overflow: hidden;
}

.text-top-creators {
    padding: 7px;
    border-radius: 3px;
    font-weight: bold;
}

.central{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.roundcorner{
    border-radius: 10%
}

.images-prod {
    border-radius: 10px;
}
.images-product-rand {
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-top: 5px;
}

.div-heigth {
    height: 210px;
}

.single-product {
    border: solid;
    border-radius: 10px;
    border-width: 0.3px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 5px 26px 0px rgba(0,0,0,0.1);
    background-color: white;
}

.profile-user-content-discover {
    color: #6e6e6e;
    font-size: 14px;
    font-weight: 400;
    background: white;
    border-radius: 4px;
    padding: 15px;
    margin-top: -100px;
    padding-top: 115px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: 1px;
    height: 350px;
}

.user-info-discover {
    width: 20%;
    padding: 0;
    margin-left: 15px;
}

.hive-card-container-discover {
    padding: 8px;
    margin: 15px 0px 0px 7px;
}

.hiive-card-photo-discover {
    width: 100%;
    margin: 0 auto;
    height: 220px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 10px 10px 0 0;
    margin-bottom: 4px;
    margin-top: 15px;
}

.profile-headline-highlight-discover {
    font-family: "Montserrat", sans-serif;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-size: 28px;
    font-weight: 900;
    text-align: left;
    margin-top: -85px;
    background-color: #823ea3
}

.profile-user-card-discover {
    width: 80%;
    margin: 0 auto;
}

.profiles-in-middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 40px 41px;
    margin-top: 37px;
}


span.profile-headline-highlight-discover {
    padding: 2px 7px;
}

.profile-headline .profile-about-avatar:hover {
    transition: 0.2s;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}