.flash-container {
  position: absolute;
  top: 90px;
  right: 20px;
}

.flash-position {
  position: relative;
  width: 300px;
}

.flash {
  padding: 16px 24px;
  font-family: $fun-body;
  font-size: 15px;
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.05);
  margin: 8px;
  z-index: 10;
  color: rgb(100 ,100 ,100 );
  button {
    margin-left: 10px;
    -webkit-appearance: none;
  }
  button:focus {
    outline: none;
  }
  animation-name: fadeOut;
  animation-delay: 3.5s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.flash-purple {
  border: 2px solid $rollover-purple;

}
.flash-success {
  border: 2px solid #90ee90;
}

.flash-warning {
  border: 2px solid #FFC65A;
}

.flash-danger {
  border: 2px solid #DB0036;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

