// add to the container of every page to push down navpar
.nav-padding {
  padding-top: 75px;
}

.nav-sign-in-padding {
  padding-right: 35px;
}

header{
  z-index: 102;
  width: 100%;
  // background-color: $orange;
  position: absolute;
  top: 0;
  padding: 20px;
  .header-inner{
    // width: 1120px;
    margin: 0 auto;
    a{
      .brand{
      display: inline-block;
      width: 35px;
      height: 35px;
      // img{display: block;border-radius: 30px;}
    }}
    .navigation{
      float: right;
      line-height: 30px;
      a.nav-scroll{
        // text-transform: uppercase;
        letter-spacing: 0.9px;
        font-family: $fun-body, sans-serif;
        font-weight: 700;
        font-size: 16px;
        position: relative;
        display: inline-block;
        text-decoration: none;
        color: $purple;
        margin-left: 50px;
        transition: 0.3s;

        &::after, &::before{
          display: inline-block;
          opacity: 0;
        }
        &:hover {
          color: $rollover-purple;
        }
        // &::before {
        //   margin-left: 10px;
        //   color: $rollover-purple ;
        //   content: '|';
        //   transform: translateX(20px);
        // }
        // &::after {
        //   margin-right: 10px;
        //   color: $rollover-purple ;
        //   border-bottom: 1px solid $rollover-purple;
        //   content: '|';
        //   transform: translateX(-20px);
        // }
        // &:hover, &.active{
        //   color: $rollover-purple;
        //   &::after, &::before{
        //     display: inline-block;
        //     opacity: 1;
        //     transform: translateX(0px);
        //     transition: transform 0.3s, opacity 0.3s;
        //   }

        // }
      }
    }
  }
}

.user-avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: relative;
  top: -7px;
}

