.hiive-card-container {
  padding: 8px;
}

.hiive-card {
  height: 320px;
  background: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.08);
}

.hiive-card-photo {
  width: 100%;
  margin: 0 auto;
  height: 220px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px 10px 0 0;
  margin-bottom: 4px;
  // border: 5px solid white;
}
.hiive-card-content {
  padding: 5px 8px;
  // color: $bright-purple;
  color: $text-gray;
  font-weight: 600;
  font-family: $fun-body;
}

.hiive-card-title {
  text-align: center;
  width: 95%;
  height: 42px;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hiive-card-price {
  color: $bright-purple;
  text-align: right;
  padding-right: 10px;
  padding-bottom: 2px;
  font-size: 20px;
}

.hiive-card-btn {
  height: 55px;
  border: 0px;
  box-shadow: 20px 0px 40px rgba(0, 0, 0, 0.05);
  color: white;
  font-size: 17px;
  font-family: $fun-body;
  font-weight: 700;
  float: left;
  background-color: $bright-purple;
  // background: linear-gradient(145deg, rgba(130,62,163,1) 0%, $bright-purple 100%);
}
.hiive-card-btn:hover {
  background: $rollover-purple;
  color: white;
}
.hiive-card-btn-delete {
  background-color: #C70039;
}
.hiive-card-btn-delete:hover {
  background-color: #db0036;
}

.hiive-card-btn-left {
  border-radius: 0 0 0 10px;
  border-right: 1px solid $dark-purple;
}
.hiive-card-btn-right {
  border-radius: 0 0 10px 0;

}
