.link-input {
  padding: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
  height: 350px;
  width: 400px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  margin-left: 30px;
}

.link-input-btn {
  margin-left: 30px;
  width: 400px;
}
